$body-color: #d4d4d473

$primary: rgb(50, 98, 115)
$primary-color: rgb(50, 98, 115)
$secondary-color: rgb(238, 238, 238)
$error-color: rgb(247, 175, 157)
$warn-color: rgb(247, 227, 175)
$success-color: rgb(140, 179, 105)

body
  background-color: $body-color
  margin: 0

svg
    height: 25px

.App
  width: 100%
  height: 100%
  position: absolute
  overflow: hidden

.keyboard
  height: 35%
  display: flex
  flex-direction: column
  justify-content: center
  .row
    display: flex
    Button
      min-width: 0
      flex: 1
      height: 50px
      &.disabled
        background-color: $error-color

.board
  height: 50%
  margin: auto
  width: fit-content
  display: flex
  flex-direction: column
  justify-content: center
  padding-top: 10px
  &__word
    &__letter
      height: 50px
      width: 50px
      margin: 2px
      font-size: 25px !important
      font-weight: bold !important
      &.primary
        background-color: $secondary-color
      &.success
        background-color: $success-color
      &.error
        background-color: $error-color
      &.warn
        background-color: $warn-color
      &.MuiButton-root.Mui-disabled
        color: rgba(0, 0, 0, 0.87)
      &.MuiButton-outlined.Mui-disabled
        border: 1px solid rgba(0, 0, 0, 0.23)

.info
  height: 15%
  padding: 0
  display: flex
  flex-direction: column
  width: fit-content
  margin: auto
  justify-content: center

.MuiAlert-standard
  align-items: center
